<div class="table-row {{if isSelected 'selected'}} {{if isStriped 'zebra'}}" {{action @selectBook @book}}>
  <div class="table-cell">{{@book.title}}</div>
  <div class="table-cell">{{@book.author}}</div>
  <div class="table-cell">{{@book.publicationYear}}</div>
  <div class="table-cell">{{@book.pages}}</div>
  <div class="table-cell"></div>
</div>
