<div class="table-row {{if isSelected 'selected'}} {{if isStriped 'zebra'}}" {{action @toggleBookSelection @book}}>
  <div class="table-cell">{{@book.title}}</div>
  <div class="table-cell">{{@book.author}}</div>
  <div class="table-cell">{{@book.publicationYear}}</div>
  <div class="table-cell">{{@book.pages}}</div>
  <div class="table-cell">
    {{#if @toggleAction}}
      <button {{action @toggleAction @book}}>{{@toggleText}}</button>
    {{/if}}
    {{link-to 'Visit' 'books.book' @book.id tagName="button"}}
  </div>
</div>
