<h1>Hello {{name}}</h1>

<div class="table table--5cols">
  <div class="table-row">
    <div class="table-cell header">Title</div>
    <div class="table-cell header">Author</div>
    <div class="table-cell header">Publication Year</div>
    <div class="table-cell header">Pages</div>
    <div class="table-cell header">Actions</div>
  </div>
  <div class="table-row">
    <div class="table-cell">{{book.title}}</div>
    <div class="table-cell">{{book.author}}</div>
    <div class="table-cell">{{book.publicationYear}}</div>
    <div class="table-cell">{{book.pages}}</div>
    <div class="table-cell"></div>
  </div>
</div>
