<h1>Book Collector</h1>

<div class="bulk-actions">
    <button {{action this.hideBooks}}>Hide</button>
    <button {{action this.showBooks}}>Show</button>
    <button {{action this.selectAll}}>Select All</button>
    <button {{action this.unselectAll}}>Unselect All</button>
</div>
<div class="table table--5cols">
  <div class="table-row">
    {{#each headerInfo as |header|}}
      <SortableHeader @columnName={{header.name}}
                      @sortBooks={{action this.sortBooks}}
                      @sortBy={{header.sortBy}}
                      @sortedBy={{this.sortProperty}}
                      @isReversed={{this.isReversed}} />
    {{/each}}
    <div class="table-cell header">Actions</div>
  </div>
  {{#each shownBooks as |book index|}}
    <BookTableRow @book={{book}}
                  @toggleBookSelection={{this.toggleBookSelection}}
                  @selectedBookIds={{this.selectedBookIds}}
                  @index={{index}}
                  @toggleAction={{this.hideBook}}
                  @toggleText='Hide' />
  {{/each}}
</div>

<h1>Hidden Books</h1>

<div class="table table--5cols">
  {{#each hiddenBooks as |book index|}}
    <BookTableRow @book={{book}}
                  @toggleBookSelection={{this.toggleBookSelection}}
                  @selectedBookIds={{this.selectedBookIds}}
                  @index={{index}}
                  @toggleAction={{this.showBook}}
                  @toggleText='Show' />
  {{/each}}
</div>
