<h1>Book Collector</h1>

<div class="table table--5cols">
  <div class="table-row">
    <div class="table-cell header" {{action 'sortBook' 'title'}}>Title</div>
    <div class="table-cell header" {{action 'sortBook' 'author'}}>Author</div>
    <div class="table-cell header" {{action 'sortBook' 'publicationYear'}}>Publication Year</div>
    <div class="table-cell header" {{action 'sortBook' 'pages'}}>Pages</div>
    <div class="table-cell header">Actions</div>
  </div>
  {{#each sortedBooks as |book|}}
    <div class="table-row">
      <div class="table-cell">{{book.title}}</div>
      <div class="table-cell">{{book.author}}</div>
      <div class="table-cell">{{book.publicationYear}}</div>
      <div class="table-cell">{{book.pages}}</div>
      <div class="table-cell"></div>
    </div>
  {{/each}}
</div>
